/* common shared style */
body {
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;

}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    font-size: 20px;
    color: white;
    font-weight: 700;
    padding: 18px 36px;


}

.btn-primary :hover {
    color: rgb(12, 212, 179);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}

nav>ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    margin-right: 50px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;

}

nav a {
    text-decoration: none;
    color: #474747;

}

/* header related */
.header {
    background-color: #fff8f3;
    background-image: url(./images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom left;



}

.bannar {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bannar .mahfuj {
    width: 500px;
    height: 100%;
    flex-shrink: 0;

}

.bannaer-content {

    justify-content: space-between;
}

.bannar-greeting {
    color: #474747;

    font-size: 45px;

    font-weight: 600;
    margin-bottom: 0px;


}

.bannar-title {

    color: #181818;

    font-size: 85px;

    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;

}

.bannar-description {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;

}

/* main section */
main {

    width: 1140px;
    margin: 130px auto;


}

.about {
    padding: 130px;
    border-radius: 10px;
    background-color: #FFF8F3;
    margin-top: 130px 0px;


}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;



}

/* about section style */
.about-discription {
    color: #757575;
    text-align: center;

    font-weight: 400;

}
.about-info-containeer{

    display: flex;
    justify-content: space-around;
    padding: 10px;
   border-radius: 2px;
}

.about-info{

   text-align: center;
   /* padding: 10px;
   border-radius: 2px; */

}
.info-title{

    color: #757575;
    font: size 20px; 
}

#what-i-do{
        padding: 30px 150px;
        justify-content: center;
}